/* StyleSheet Reset  */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* StyleSheet Reset end */
/* So the page doesnt hug the left too much */
/* Navbar Start */
body{
  margin: 0 0 0 20px;
}
.topnav{
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-group{
    display: flex;
    align-items: center;
}
.nav-dropdowns >*{
    padding: 0 14px;
}
.nav-dropdowns{
    padding-right: 30px;
}
.youtube-logo{
    margin: 0 0 0 30px;
}
.search-bar{
    align-items: stretch;
    max-width: 650px;
    width: 50%;
}
.search-bar > input[type=text]{
    width: 86.5%;
    padding: 6px;
    border: 1px solid #ccc;
    border-right: 0;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px 0 0 3px;
}
.search-bar > button{
    background-color: white;
    border: 1px solid lightgrey;
    padding: 0px 25px;
    border-radius: 0 3px 3px 0;
}
.profile-photo{
    border-radius: 50%;
}
/* NavBar End */